FrascatiPlot/Paper/*.aux
FrascatiPlot/Paper/*.log
FrascatiPlot/Paper/aps/*.log
FrascatiPlot/Paper/*.out
FrascatiPlot/Paper/*.synctex.gz
FrascatiPlot/Paper/*.bbl
FrascatiPlot/Paper/*.blg
FrascatiPlot/Paper/*.lof
FrascatiPlot/Paper/*.toc
.DS_Store
FrascatiPlot/.DS_Store
*.docx
*.pptx